body {
    font-size: 13px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
    color: #555;
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive{
    border:none;
}

@media (max-width: 640px) {
    .ui-tabs.ui-tabs-top > .ui-tabs-nav li {
        width: 100%;
    }

    .ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row{
        border: none;
    }
}